<div layout="column" flex layout-fill>
  <div layout="row" flex layout-fill>
    <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout-align="start center" >
      <md-list>
        <md-list-item><md-button class="nav-btn sideNavBtnCls" ng-click="controller.listUsers()">Users</md-button></md-list-item>
        <md-list-item><md-button class="nav-btn sideNavBtnCls" ng-click="controller.listMovies()">Movies</md-button></md-list-item>        
      </md-list>
    </md-sidenav>
    <ui-view layout="column" layout-fill flex></ui-view>
  </div>
</div>
