<h3 class="align-center"><strong>Users</strong></h3>
<br>
<div class="actorListDiv" layout-align="center start" >
  <div class="" layout="column" >
    <div layout="row" layout-align="center start" class="actorRowCls">
      <div flex="45" class="align-center">
      <strong>User Name</strong>
      </div>
      <div flex="15" class="align-center">
        Edit
      </div>
      <div flex="15" class="align-center">
        Delete
      </div>
    </div>
    <div ng-repeat="user in controller.users" layout="row" layout-align="center start" class="actorRowCls">
      <div flex="45" class="align-center">
      <p>{{user.username}}</p>
      </div>
      <div flex="15" class="align-center">
      <a ui-sref="admin.editUser({id:user._id})"><i class="material-icons link-icon-Cls">edit</i></a>
      </div>
      <div flex="15" class="align-center">
      <a href="#" ng-click="controller.deleteUser(user._id)"><i class="material-icons link-icon-Cls delCls">close</i></a>
      </div>
    </div>
  </div>
</div>
