<h3 class="align-center"><strong>Users</strong></h3>
<br>
  <div layout="row" layout-align="center start">
    <div flex="15" class="tblCls align-center">
    <strong>User Name</strong>
    </div>
    <div flex="5" class="tblCls align-center">
      Edit
    </div>
    <div flex="5" class="tblCls align-center">
      Delete
    </div>
  </div>
  <div ng-repeat="user in controller.users" layout="row" layout-align="center start" >
    <div flex="15" class="tblCls align-center rowCls">
    <p>{{user.username}}</p>
    </div>
    <div flex="5" class="tblCls align-center rowCls">
    <a ui-sref="admin.editUser({id:user._id})"><i class="material-icons link-icon-Cls">edit</i></a>
    </div>
    <div flex="5" class="tblCls align-center rowCls ">
    <a href="#" ng-click="controller.deleteUser(user._id)"><i class="material-icons link-icon-Cls delCls">close</i></a>
    </div>
  </div>
