<!DOCTYPE html>
<html ng-app="myimdb">

<head>
  <title>myimdb</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" media="screen" title="no title">
  <link type="text/css" rel="stylesheet" href="/bower_components/angular-flash-alert/dist/angular-flash.min.css" />
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body ng-cloak layout="column" ng-controller="MainController as controller">
  <div layout="column" flex>
    <md-toolbar layout="row" class="md-toolbartools">
        <div class="titleCls">
          <h3>MyIMDb</h3>
        </div>
        <span flex></span>
        <div layout="row" layout-align="center center">
          <form>
              <input type="text" name="searchTxt">
              <md-icon ng-click="controller.sayHello()"><i class="material-icons iconsCls">search</i></md-icon>
          </form>
        </div>
        <span flex></span>
        <div layout="row">
          <div layout-align="end end" layout="row"  >
            <md-button class="nav-btn btnCls" ng-click="controller.home()" md-no-ink>Home</md-button>
            <div ng-if="currentUser === false">
              <md-button class="nav-btn btnCls" ng-click="controller.login()">Login</md-button>
              <md-button class="nav-btn btnCls" ng-click="controller.register()">Register</md-button>
            </div>
            <div ng-if="currentUser !== false">
              <md-button class="nav-btn btnCls" ng-click="controller.admin()">Admin</md-button>
            </div>
            <div ng-if="currentUser !== false">
              <md-button class="nav-btn btnCls" ng-click="controller.logout()">Logout</md-button>
            </div>
          </div>
        </div>
    </md-toolbar>
    <div layout="column">
      <md-content>
        <ui-view></ui-view>
      </md-content>
    </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="/bower_components/angular-messages/angular-messages.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/angular-password/angular-password.min.js"></script>
  <script src="/bower_components/angular-flash-alert/dist/angular-flash.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/controllers/accountController.js"></script>
  <script src="/ngApp/services/services.js"></script>

</body>

</html>
