.titleCls{
  margin-left: 5px;
}

.btnCls{
  min-width:35px;
  vertical-align: bottom;
  font-size: 10px;
  margin:0;
/*  font-weight: bold;  */
}

md-toolbar.material-icons{
  vertical-align:text-bottom;
  font-size: 20px;
}

.inputCls{
  min-height:20px;
  height:30px;
  max-height:30px;
  line-height: 5px;
  margin:0;
}

md-toolbar input{
  height:25px;
  vertical-align: bottom;
  border-radius:5px;
  color:blue;
  font-size:12px;
  min-width: 250px;
}

#srchBtn{
  vertical-align: baseline;
  font-size:8px;
  line-height: 2px;
  vertical-align: bottom;
  margin-top:5px;
  display:relative;
  left:0px;
  top: 10px;
}
.iconsCls{
  font-size:18px;
  margin-left:5px;
}

.material-icons{
  line-height: .8;
}



/* modal styles  */

.modalHeaderCls{
  height : 35px;
  background-color: #3F51B5;
  color: white;
  padding: 5px;
}

.headingCls{
  font-size: 14px;
  margin-bottom: 2px;
  margin-left:5px;
  display:inline;
}

.regCloseIconCls{
  margin-left: 210px;
}

.lgCloseIconCls{
  margin-left: 220px;
}

.dialogCloseIconCls{
  margin-left:185px;
}

.form-control{
  height:22px;
}

.error{
  color: red;
  font-size: 10px;
}

.buttonCls{
  font-size: 12px;
}

.lblCls{
  font-size: 10px;
}

/*  */

md-sidenav {
   width: 130px;
   min-width: 130px;
   max-width: 130px;
}

md-sidenav{
  background-color: rgb(66,66,66);
  color:yellow;
}

.align-center{
  text-align:center;
}
.tblCls{
  border-bottom:1px solid brown;
}

/* table styles */
.rowCls{
  max-height: 40px;
}



.link-icon-Cls{
/*  max-height: 22px;  */
  margin-top: 10px;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
  color: blue;
  cursor:pointer;
}

.delCls{
  color:red;
}

.sideNavBtnCls{
  font-size:12px;

}

select{
  min-height: 30px;
}

.myFlashCls{
  min-width: 250px;
  text-align:center;
  width:250px;
  max-width: 250px;
  margin:0 auto;
}

/*  */
