.titleCls{
  margin-left: 5px;
}

.titleDivCls{
  height: 35px;
  width: 100%;
  background-color: #CC6600;
  color:black;
  padding-top:5px;
}

.titleDivCls div{
  display:inline;
  font-weight: bold;
}

.btnCls{
  min-width:35px;
  vertical-align: bottom;
  font-size: 10px;
  margin:0;
/*  font-weight: bold;  */
}

md-toolbar.material-icons{
  vertical-align:text-bottom;
  font-size: 20px;
}

.rowCls{
  border: 1px solid brown;
  height: 35px;
  padding:5px;
}

.tblCls{
  width: 40%;
}


.inputCls{
  min-height:20px;
  height:30px;
  max-height:30px;
  line-height: 5px;
  margin:0;
}

md-toolbar input{
  height:25px;
  vertical-align: bottom;
  border-radius:5px;
  color:blue;
  font-size:12px;
  min-width: 250px;
}

#srchBtn{
  vertical-align: baseline;
  font-size:8px;
  line-height: 2px;
  vertical-align: bottom;
  margin-top:5px;
  display:relative;
  left:0px;
  top: 10px;
}
.iconsCls{
  font-size:18px;
  margin-left:5px;
}

.material-icons{
  line-height: .8;
}



/* modal styles  */

.modalHeaderCls{
  height : 35px;
  background-color: #3F51B5;
  color: white;
  padding: 5px;
}

.headingCls{
  font-size: 14px;
  margin-bottom: 2px;
  margin-left:5px;
  display:inline;
}

.regCloseIconCls{
  margin-left: 210px;
}

.lgCloseIconCls{
  margin-left: 220px;
}

.dialogCloseIconCls{
  margin-left:185px;
}

.form-control{
  height:22px;
}

.error{
  color: red;
  font-size: 10px;
}

.buttonCls{
  font-size: 12px;
}

.lblCls{
  font-size: 10px;
}

/*  */

md-sidenav {
   width: 130px;
   min-width: 130px;
   max-width: 130px;
}

md-sidenav{
  background-color: rgb(66,66,66);
  color:yellow;
}

.align-center{
  text-align:center;
}
.tblCls{
  border-bottom:1px solid brown;
}

/* table styles */
.rowCls{
  max-height: 40px;
}



.link-icon-Cls{
/*  max-height: 22px;  */
  margin-top: 10px;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
  color: blue;
  cursor:pointer;
}

.delCls{
  color:red;
}

.sideNavBtnCls{
  font-size:12px;

}

select{
  min-height: 30px;
}

.myFlashCls{
  min-width: 350px;
  text-align:center;
  width:250px;
  max-width: 250px;
  margin:0 auto;
}

.textareaCls{
  height: 35px;
  font-size: 12px;
}

.selectCls{
  font-size: 12px;

}

.dropdown-menu{
  font-size:12px;
}

.deleteCloseIconCls{
  margin-left: 175px;
}

.moviePhoto{
  height: 150px;
  margin:15px;
}

.storyDivCls{
  margin-left:15px;
}
.marginCls{
  margin-left: 15px;
}

.md-button._md-nav-button{
  font-size: smaller;
}
md-sidenav.md-closed{
  background-color: rgb(255,64,129);
  color:white;
}

.myRateCls{
  display:inline;
  margin-left: 5px;
}

.reviewTextareacls{
  font-size:12px;
}

.reviewInputCls{
  font-size:12px;
}

.marginBtnCls{
  margin-left: 260px;
}

.reviewsCls{
  border: 1px solid white;
  height: 210px;
  width: 95%;
  margin:5px 5px 5px 15px;
  overflow: auto;
}

.reviewTxtCls{
  background-color: lightpink;
  padding:5px;
  margin-bottom: 2px;
}

.reviewFlashCls{
  margin:0 auto;
  width:320px;
  height: 35px;
}

.titlePCls{
  text-decoration: underline;
}

.reviewTxtCls.p{
  margin:0;
}


.usrCls{
  font-style: italic;
  color:red;
}

.nameCls, a:hover {
  text-decoration:none;
  color:brown;
}

/*
.displayCls{
  display:inline;
}

*/
/* rgb(255,64,129)*/
