.titleCls{
  margin-left: 5px;
}

.btnCls{
  min-width:35px;
  vertical-align: bottom;
  font-size: 10px;
  margin:0;
/*  font-weight: bold;  */
}

md-toolbar.material-icons{
  vertical-align:text-bottom;
  font-size: 20px;
}

.inputCls{
  min-height:20px;
  height:30px;
  max-height:30px;
  line-height: 5px;
  margin:0;
}

md-toolbar input{
  height:25px;
  vertical-align: bottom;
  border-radius:5px;
  color:blue;
  font-size:12px;
  min-width: 250px;
}

#srchBtn{
  vertical-align: baseline;
  font-size:8px;
  line-height: 2px;
  vertical-align: bottom;
  margin-top:5px;
  display:relative;
  left:0px;
  top: 10px;
}
.iconsCls{
  font-size:18px;
  margin-left:5px;
}

.material-icons{
  line-height: .8;
}



/* modal styles  */

.modalHeaderCls{
  height : 35px;
  background-color: #3F51B5;
  color: white;
  padding: 5px;
}

.headingCls{
  font-size: 14px;
  margin-bottom: 2px;
  margin-left:5px;
  display:inline;
}

.closeIconCls{
  margin-left: 210px;
}

.form-control{
  height:22px;
}

.error{
  color: red;
  font-size: 10px;
}

.buttonCls{
  font-size: 12px;
}

.lblCls{
  font-size: 10px;
}

/*  */
